.grid__container {
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  height: 100%;
}

.top__button {
  align-items: center;
  background-color: var(--primary-color);
  border: none;
  border-radius: 50px;
  color: white;
  display: flex;
  justify-content: center;
  font-size: 40px;
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 20px;
  margin-bottom: 20px;
  height: 60px;
  width: 60px;
}
.top__button:hover {
  background-color: var(--hover-primary-color);
  cursor: pointer;
  transform: scale(1.15);
  transition: 0.3s ease;
}

.grid__container--input {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.grid__input {
  align-self: center;
  background-color: var(--main-bg-color);
  border-radius: var(--size-border-radius);
  border: 2px solid white;
  color: white;
  margin-top: 80px;
  margin-bottom: 80px;
  padding: 20px;
  width: 400px;
  height: 60px;
}

.grid__input--image {
  align-self: center;
  background-image: url("../../assets/lupa.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-right: 30px;
  height: 50px;
  width: 50px;
}

.grid__input::placeholder {
  color: white;
}

.grid__container--items {
  background-color: var(--main-bg-color);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  justify-items: center;
  margin-bottom: 80px;
  gap: 20px;
}

.infinite-scroll-component__outerdiv, .infinite-scroll-component  {
  overflow: hidden !important;
}

@media only screen and (max-width: 810px) {
  .grid__container--items {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 375px) {
  .grid__container--items {
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }

  .grid__input--image {
    height: 40px;
    width: 40px;
  }

  .grid__input {
    width: 200px;
  }
}
