.favorites__container {
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: column;
  position: static;
  
}

.favorites__container--title {
  align-self: center;
  color: var(--secondary-color);
  font-family: var(--main-font-family);
  font-size: 60px;
  text-align: center;
  height: 100px;
}

.favorites__container--grid {
  background-color: var(--main-bg-color);
  display: flex;
  justify-content: center;
  width: 100%;
  overflow-y: hidden;

}

.favorites__container--grid>h1 {
    color: white;
    text-align: center;
}