

.gridCard__container--poster {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-self: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: var(--size-border-radius);
  width: 250px;
  height: 400px;
}


.more-info {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.581);
  color: white;
  cursor: pointer;
  font-family: var(--main-font-family);
  font-size: 12px;
  text-align: center;
  text-decoration: none;
  width: 100%;
  padding: 5px;
  height: 7%;
}

.more-info:hover {
  background-color: rgba(71, 70, 70, 0.791);
  color: var(--secondary-color);
  transition: 0.3s ease-in;
}



