.gridMoviesPage__container {
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.gridMoviesPage__container--pages {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 30%;
}

.gridMoviesPage__container--pages--favorites,
.gridMoviesPage__container--pages--pending {
  color: white;
  font-family: var(--main-font-family);
  text-align: center;
  padding: 10px;
  width: 50%;
}

.gridMoviesPage__container--pages--favorites {
  border-right: 1px solid var(--secondary-color);
}

.no-active {
  text-decoration: none;
  cursor: pointer;
  color: white;
}

.active {
  cursor: pointer;
  color: #80abff;
}


@media only screen and (max-width: 375px) {
  .gridMoviesPage__container--pages {
    align-self: center;
    width: 50%;
  }
}
