.notFound__container {
    background-color: var(--welcome-page-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: var(--main-font-family);
    height: 100vh;
}

.notFound__container--title {
    align-self: center;
    color: #543864;
    text-align: center;
    font-size: 90px;
    height: 120px;
    overflow-y: hidden;
}
.notFound__container--secondTitle {
    align-self: center;
    color: #01024E;
    text-align: center;
    font-size: 30px;
}

.notFound__container--button {
    align-self: center;
    border: none;
    border-radius: var(--size-border-radius);
    background-color: black;
    color: white;
    font-family: var(--main-font-family);
    font-size: var(--font-size-buttons);
    padding: 5px;
    height: var(--height-buttons);
    width: var(--width-buttons);
}

.notFound__container--button:hover{
    background-color: var(--main-bg-color);
    transform: scale(1.05);
    transition: 0.2s ease-in-out;
}

.illustrations {
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5px;
    width: 50%;
    overflow-y: hidden;
}

.casket,
.skeleton {
    align-self: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 300px;
    width: 300px;
}

.casket {
    background-image: url("../../assets/casket.png");

}

.skeleton {
    background-image: url("../../assets/skeleton.png");

}