.gridCard__container {
  display: flex;
  flex-direction: column;
}

.gridCard__container--poster {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: var(--size-border-radius);
  width: 250px;
  height: 400px;
}


.gridCard__container--poster--icons {
  border-top: var(--size-border-radius);
  display: flex;
  padding: 8px;
  justify-content: space-between;
  width: 100%;
  height: 9%;
}

.pending {
  background-image: url("../../assets/pending.png");
}

.favorite {
  background-image: url("../../assets/fav.png");
}

.pending,
.favorite {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 20px;
  height: 20px;
}

.pending:hover,
.favorite:hover {
  transform: scale(1.15);
  transition: 0.3s ease-in-out;
}

.more-info {
  background-color: rgba(0, 0, 0, 0.581);
  color: white;
  cursor: pointer;
  font-family: var(--main-font-family);
  font-size: 12px;
  text-align: center;
  padding: 5px;
  height: 8%;
}



