.gridCard__container {
  display: flex;
  flex-direction: column;
}

.gridCard__container--poster {
    align-self: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: var(--size-border-radius);
  width: 250px;
  height: 400px;
}
