.gridCardMyMoviesPage__container--poster {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-self: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: var(--size-border-radius);
  width: 250px;
  height: 400px;
}

.gridCardMyMoviesPage__container--info {
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgb(17, 17, 17) 0%, rgba(67, 67, 67, 0.788) 71%, rgba(156, 156, 156, 0) 100%); 
  border-top: var(--size-border-radius);
  color: white;
  height: 90%;
  font-family: var(--main-font-family);
  font-size: 12px;
  text-align: justify;
  padding: 20px;
}

.gridCardMyMoviesPage__container--info > span > b {
  color: var(--secondary-color);
  font-size: 15px;
}

.gridCardMyMoviesPage__container--buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
}

.info__button,
.delete__button {
  border-radius: 100px;
  border: none;
  color: white;
  display: flex;
  justify-content: center;
  justify-items: center;
  padding: 5px;
  width: 30px;
  height: 30px;
}

.info__button:hover,
.delete__button:hover {
  cursor: pointer;
  transition: 0.3s ease;
}

.info__button:hover {
  background-color: rgb(198, 147, 245);
}

.delete__button:hover {
  background-color: rgb(249, 109, 109);
}

.delete__button {
  background-color: rgb(206, 3, 3);
}

.info__button {
  background-color: var(--primary-color);
}

