
.gridCardDetails__container {
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}


.gridCardDetails__title {
  align-self: center;
  color: var(--secondary-color);
  font-family: var(--secondary-font-family);
  font-size: 80px;
  text-align: center;
  height: 120px;
  overflow-y: hidden;
}


.gridCardDetails__container--movie {
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  height: 72%;
}

.gridCardDetails__container--movie--image {
  display: flex;
  align-self: flex-start;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: var(--size-border-radius);
  width: 350px;
  height: 550px;
}

.gridCardDetails__container--movie--text {
  display: flex;
  flex-direction: column;
  color: white;
  width: 60%;
}

.gridCardDetails__container--movie--text > span {
  align-self: start;
  line-height: 30px;
  overflow-y: hidden;
}

.gridCardDetails__container--movie--text > span > b {
  color: var(--secondary-color);
}

.gridCardDetails__buttons {
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 100px;
  padding: 8px;
  width: 100%;
  height: 100px;
}


.gridCardDetails__buttons > button {
  align-self: center;
  border: none;
  border-radius: var(--size-border-radius);
  color: white;
  font-size: var(--font-size-buttons);
  width: 40%;
  height: var(--height-buttons);
}

.gridCardDetails__buttons > button:hover {
  transform: scale(1.08);
  transition: 0.2s ease-in-out;
}

.pending {
  background-color: var(--primary-color);
}

.pending:hover {
  background-color: var(--hover-primary-color);
}

.favorites {
  background-color: var(--secondary-color);
}

.favorites:hover {
  background-color: #61bd37;
}

.home {
  background-color: transparent;
  align-self: center;
  border: 3px solid white;
  border-radius: var(--size-border-radius);
  color: white;
  font-size: var(--font-size-buttons);
  margin-top: 10px;
  height: var(--height-buttons);
  width: 40%;
}

.home:hover {
  transform: scale(1.05);
  transition: 0.2s ease-in-out;
  background-color: rgb(72, 71, 71);
}

.swal2-success-ring, .swal2-icon, .swal2-success, .swal2-icon-show{
  overflow-y: hidden;
}

@media only screen and (max-width: 810px) {
  .gridCardDetails__container {
    display: flex;
    position: unset;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .gridCardDetails__title {
    font-size: 50px;
    height: 70px;
  }
  
  .gridCardDetails__container--movie {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
    width: 90%;
  }
  
  .gridCardDetails__container--movie--image {
    align-self: center;
    width: 300px;
    height: 400px;
  }
  
  .gridCardDetails__container--movie--text {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
  }

  .gridCardDetails__container--movie--text > span {
    align-self: flex-start;
    margin-top: 10px;
  }

  .gridCardDetails__container--movie--text > span > b {
    color: var(--secondary-color);
  }
  
  .gridCardDetails__buttons {
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px;
    height: 200px;
  }
  
  .gridCardDetails__buttons > button {
    align-self: center;
    border: none;
    border-radius: var(--size-border-radius);
    color: white;
    font-size: var(--font-size-buttons);
    width: 45%;
    height: var(--height-buttons);
  }
  
  .pending {
    background-color: var(--primary-color);
  }
  
  
  .favorites {
    background-color: var(--secondary-color);
  }
  
  .home {
    background-color: transparent;
    align-self: center;
    border: 3px solid white;
    border-radius: var(--size-border-radius);
    color: white;
    font-size: var(--font-size-buttons);
    height: var(--height-buttons);
    width: 40%;
  }
  

} 
 

@media only screen and (max-width: 375px) {
  .gridCardDetails__container {
    display: flex;
    position: unset;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .gridCardDetails__title {
    font-size: 30px;
    height: 50px;
  }
  
  .gridCardDetails__container--movie {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
    width: 90%;
  }
  
  .gridCardDetails__container--movie--image {
    align-self: center;
    width: 200px;
    height: 300px;
  }
  
  .gridCardDetails__container--movie--text {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
  }

  .gridCardDetails__container--movie--text > span {
    align-self: flex-start;
    margin-top: 10px;
  }

  .gridCardDetails__container--movie--text > span > b {
    color: var(--secondary-color);
  }
  
  .gridCardDetails__buttons {
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px;
    height: 200px;
  }
  
  .gridCardDetails__buttons > button {
    align-self: center;
    border: none;
    border-radius: var(--size-border-radius);
    color: white;
    font-size: var(--font-size-buttons);
    width: 45%;
    height: var(--height-buttons);
  }
  
  .pending {
    background-color: var(--primary-color);
  }
  
  
  .favorites {
    background-color: var(--secondary-color);
  }
  
  .home {
    background-color: transparent;
    align-self: center;
    border: 3px solid white;
    border-radius: var(--size-border-radius);
    color: white;
    font-size: var(--font-size-buttons);
    height: var(--height-buttons);
    width: 40%;
  }
  

} 
